<section>
    <div class="container mt-5">
    <div class="row">
        {{#each Category}}

        <div class="col-mid-3">

            <div class="card" style="width: 18rem;">
                <img src="{{this.}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.Name}}</h5>
                    <p class="card-text">{{this.Department}}</p>
                    <a href="#" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
    </div>
</section>